
.maincontainer {
    /* background-image: linear-gradient(to right, #C4C4C4, #949494); */
    /* background-color: #F6F5F1; */
    background-color: #eae9df;
    padding: 40px;
    /* background-color: #5266AD; */
}


h1 {
font-family: acumin-pro, sans-serif;
/* font-family: 'Work Sans', sans-serif; */
font-weight: 400; 
font-style: normal;
font-size: 85px;
line-height:97px;
margin: auto;
width: 1200px;
padding-top: 40px;
text-align: center;
}

h2{
/* font-family: acumin-pro, sans-serif; */
font-family: orpheuspro, serif;
margin: auto;
font-weight: 800; 
font-style: bold;
font-size: 22px;
line-height: 28px;
width: 610px;
padding-top: 40px;
/* padding-left: 80px; */
}


h3{
font-family: acumin-pro, sans-serif;
font-weight: 200; 
font-style: normal;
font-size: 16px;
line-height: 21px;
padding-top: 20px;
padding-left: 80px;
}

.image1 {
    padding-left: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: auto;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    width: 900px;
}

.image2 {
    width: 550px;
    position: relative;
    right: 300px;

}

.image3 {
    width: 550px;
    padding-left: 180px;
   

}

.image4 {
    width: 550px;
    position: relative;
    right: 300px;
}

.image5 {
    width: 550px;


}

.image6 {
    width: 850px;
    position: relative;
    right: 300px;

}

.image7 {
    width: 350px;
    padding-left: 90px;

}

.headline{
    font-family: orpheuspro, serif;
    font-weight: 200;
    font-size: 28px;
    line-height: 36px;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    padding-right: 100px;
    width: 950px;
    padding-top: 20px;
    padding-left: 80px;
    /* color: #1a1f54; */
    }

.pullquote {
    font-family: orpheuspro, serif;
    font-weight: 200;
    font-size: 28px;
    line-height: 36px;
    position: relative;
    right: 55%;
    bottom: 800px;
    width: 450px;
    height: 50px;
    color: #949494;
}

.pullquote2 {
    font-family: orpheuspro, serif;
    font-weight: 100;
    font-size: 28px;
    line-height: 36px;
    position: relative;
    left: 50%;
    bottom: 400px;
    width: 500px;
    height: 50px;
    color: #949494;
}
    

.maintext{
    margin: auto;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300; 
    font-size: 20px;
    line-height: 29px;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    width: 550px;
    }
    


