
.maincontainer {
    background-color: #eae9df;
    padding: 40px;
    /* height: 100%; */
    /* background-color: #5266AD; */
}


h1 {
font-family: acumin-pro, sans-serif;
/* font-family: 'Work Sans', sans-serif; */
font-weight: 400; 
font-style: normal;
font-size: 85px;
line-height:97px;
margin: auto;
width: 1200px;
padding-top: 40px;
text-align: center;
}

h2{
/* font-family: acumin-pro, sans-serif; */
font-family: acumin-pro, sans-serif;
font-weight: 400; 
font-size: 14px;
/* line-height: 28px; */
width: 610px;
padding-top: 30px;
padding-left: 80px;
/* padding-left: 80px; */
}


h3{
/* font-family: acumin-pro, sans-serif; */
font-family: orpheuspro, serif;
font-weight: 200; 
font-style: normal;
font-size: 28px;
line-height: 36px;
padding-top: 20px;
/* padding-left: 80px; */
margin: auto;
width: 1150px;
text-align: center;
}

.image1 {
    padding-top: 30px;
    padding-bottom: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 50%; */

    /* padding-left: 150px; */
    width: 1200px;
}

.image2 {
    width: 550px;
    position: relative;
    right: 300px;
    padding-top: 30px;

}

.image3 {
    width: 550px;
    padding-left: 180px;
    padding-top: 30px;
   

}

.image4 {
    width: 550px;
    position: relative;
    right: 300px;
    padding-top: 30px;
}

.image5 {
    width: 550px;
    position: relative;
    right: 300px;
    padding-top: 30px;

}

.image6 {
width: 950px;
position: relative;
right: 200px;


}

.image7 {
    width: 550px;
    position: relative;
    right: 200px;
    padding-top: 30px;

}

.headline{
    font-family: orpheuspro, serif;
    font-weight: 200;
    font-size: 42px;
    line-height: 56px;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    padding-right: 100px;
    width: 1000px;
    /* padding-top: 10px; */
    padding-left: 80px;
    /* color: #1a1f54; */
    }

.pullquote {
    font-family: orpheuspro, serif;
    font-weight: 200;
    font-size: 28px;
    line-height: 36px;
    position: relative;
    right: 55%;
    bottom: 850px;
    width: 450px;
    height: 50px;
    /* color: #949494; */
}

.pullquote2 {
    font-family: orpheuspro, serif;
    font-weight: 100;
    font-size: 28px;
    line-height: 36px;
    position: relative;
    left: 50%;
    bottom: 890px;
    width: 500px;
    height: 50px;
    /* color: #949494; */
}
    
.caption {
    font-family: 'Work Sans', sans-serif;
    font-weight: 300; 
    font-size: 12px;
    line-height: 14px; 
    position: relative;
    left: 270px;
    bottom: 70px;
    width: 100px;
}

.caption2 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 300; 
    font-size: 12px;
    line-height: 14px; 
    position: relative;
    left: 80px;
    bottom: 25px;
    width: 100px;
}


.caption3 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 300; 
    font-size: 12px;
    line-height: 14px; 
    position: relative;
    left: 270px;
    bottom: 70px;
    width: 100px;
}

.caption4 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 300; 
    font-size: 12px;
    line-height: 14px; 
    position: relative;
    left: 270px;
    bottom: 40px;
    width: 100px;
}

.caption5 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 300; 
    font-size: 12px;
    line-height: 14px; 
    position: relative;
    left: 90px;
    bottom: 30px;
    width: 80px;
}

.caption6 {
    font-family: 'Work Sans', sans-serif;
    font-weight: 300; 
    font-size: 12px;
    line-height: 14px; 
    position: relative;
    left: 360px;
    bottom: 70px;
    width: 100px;
}


.maintext{
    margin: auto;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300; 
    font-size: 20px;
    line-height: 29px;
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    width: 550px;
    }
    


 @media(max-width:768px) {
    .maincontainer {
        background-color: #eae9df;
        width: 1300px;
    }
    h1 {
        font-size: 45px;
        width: 700px;
        position: relative;
        right: 280px;
    }  

    h2{
        font-size: 14px;
    }
    h3{
        font-size: 20px;
        width: 650px;
        padding-left: 20px;
        text-align: left;
        position: relative;
        right: 255px;
    }
    .headline{
        font-size: 18px;
        line-height: 26px;
        width: 500px;
    }

    .maintext{
        font-size: 16px;
        line-height: 24px;
        /* padding-right: 100px;
        width: 450px; */
        width: 600px;
        position: relative;
        right: 300px;
    }

    .image1{
        width: 600px;
        position: relative;
        right: 60px;
    }

    .image2{
        width: 600px;
        position: relative;
        right: 60px;
    }

    .image6 {
        width: 750px;
        position: relative;
        right: 50px;
        }

     .image4 {
     width: 450px;
     position: relative;
     right: 50px;
     }

     .image5 {
        width: 550px;
        position: relative;
        right: 50px; 
     }

     .image {
        width: 550px;
        position: relative;
        right: 50px; 
     }

    .pullquote {
        font-size: 18px;
        line-height: 22px;
        width: 200px;
        position: relative;
        right: 10%;
        color: black;
    }

    .pullquote2 {
        font-size: 18px;
        line-height: 22px;
        width: 200px;
        position: relative;
        left: 450px;
        color: black;
    }
}


@media(max-width:375px) {
    .maincontainer {
        background-color: #eae9df;
        width: 1300px;
    }
    h1 {
        font-size: 55px;
        width: 750px;
        position: relative;
        right: 260px;
    }  

    h2{
        font-size: 16px;
        padding-left: 0px;

    }
    h3{
        font-size: 20px;
        line-height: 29px;
        width: 550px;
        text-align: left;
        /* padding-left: 0px; */
        position: relative;
        right: 400px;
    }
    .headline{
        font-size: 24px;
        line-height: 30px;
        width: 600px;
        padding-left: 0px;

    }

    .image1{
        width: 600px;
        position: relative;
        right: 100px;
    }

    .maintext{
        font-size: 26px;
        line-height: 32px;
        /* padding-right: 100px; */
        width: 600px;
        position: relative;
        right: 300px;
    }

}